<h3> <a href='#' class='button' type="submit" {{action 'pressed'}} >Add New Customer</a> </h3>
<br>
{{#if show}}
<form class="form-container" {{action 'createCustomer' on='submit' }}>
  <div class="form-title">Name</div>
    {{input placeholder='John Doe Inc.'
      value=newCustomer.name
    }}
    <div class="form-title">Phone</div>
    {{input placeholder='New Customer Phone'
      value=newCustomer.phone
    }}
    <div class="form-title">Email</div>
    {{input placeholder='New Customer Email'
      value=newCustomer.email
    }}
    <div class="submit-container">
<button class="submit-button" type="submit" value="Submit" >Save</button>
</div>
  </form>
{{/if}}
