<h3> <a href='#' class='button' type="submit" {{action 'pressed'}} >Add New Customer</a> </h3>
<br>
{{#if show}}
<form class="form-container" {{action 'createCustomer' on='submit' }}>
    {{input placeholder='New Customer Name'
      value=newCustomer.name
    }}
    {{input placeholder='New Customer Phone'
      value=newCustomer.phone
    }}
    {{input placeholder='New Customer Email'
      value=newCustomer.email
    }}
    <button type="submit" >Save</button>
  </form>
{{/if}}
