<h3 class="list-header" {{action 'toggleListDetail'}}>{{customer.title}}</h3>
<form {{action 'createInfo' on='submit' }}>
   {{input placeholder='New Info'
     value=newInfo.content
   }}
 </form>

<ul>
  {{#each list.infos as |info|}}
  {{customer-list/info
       info=info
       toggleItemDone='toggleInfoDone'
       deleteItem='deleteInfo'}}
  {{/each}}
</ul>
