<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right" id="subNavigation" >
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        {{#link-to "sign-up" tagName="li"}}<a href>Sign Up</a>{{/link-to}}
        {{#link-to "sign-in" tagName="li"}}<a href>Sign In</a>{{/link-to}}
        {{#link-to "customers" tagName="li"}}<a href>Customers</a>{{/link-to}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<h1>Welcome to My App!</h1>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
